#table {
  border: solid 1px black;
  border-collapse: collapse;
}

#myTable td {
  border: solid 1px black;
  width: 50px;
  text-align: center;
}

#tablehead {
  background-color: chartreuse;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 40px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  height: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
}

button {
  width: 90px;
}

#tRow {
  background-color: lightgreen;
}
